
backend/node_modules
frontend/.DS_Store
frontend/node_modules
frontend/dist

frontend/tests/e2e/reports
frontend/selenium-debug.log
frontend/chromedriver.log
frontend/geckodriver.log

# local env files
frontend/.env.local
frontend/.env.*.local

# Log files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Editor directories and files
frontend/.vscode