* {
  margin: 0;
  padding: 0;
}

html,
body,
body > main {
  height: 100%;
}

body > main {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
