.cv-form.bx--form {
  width: 35rem;
}

.bx--form-item {
  margin-top: 1.2rem;
}

fieldset {
  border-top: 1px solid #42b983;
  margin: 1.2rem 0;
}

fieldset > legend {
  padding-right: 1rem;
  font-weight: 600;
  color: #747779;
}

.bx--combo-box .bx--text-input::-webkit-input-placeholder,
.bx--combo-box .bx--text-input::-moz-placeholder,
.bx--combo-box .bx--text-input::-ms-input-placeholder,
.bx--combo-box .bx--text-input:-ms-input-placeholder,
.bx--combo-box .bx--text-input::placeholder {
  color: #a8a8af;
}

.bx--date-picker__calendar {
  display: none;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .cv-form.bx--form {
    width: auto;
  }
}
