.wrapper {
  margin: 0 0 0 auto;
}

.wrapper > a {
  cursor: pointer;
  position: relative;
}

a[selected]::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #2c3e50;
  position: absolute;
  bottom: -7px;
  left: 7px;
}

.wrapper > a:first-of-type {
  margin-right: 0.5rem;
}

.wrapper > a > img {
  width: 1.5rem;
  height: 1.5rem;
  filter: grayscale(100%);
}

.wrapper > a[selected] > img {
  filter: grayscale(0%);
}
